[submodule "third_party/vk-bootstrap"]
	path = third_party/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "third_party/fastgltf"]
	path = third_party/fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "third_party/glTF-Sample-Assets"]
	path = third_party/glTF-Sample-Assets
	url = https://github.com/KhronosGroup/glTF-Sample-Assets.git
